
* {
        margin: 0;
        padding: 0;
}

.logo {
        position: absolute;
        border-radius: 25px;
        width: 6%;
        margin-top: 20px;
        margin-left: 30px;
        cursor: pointer;
        z-index: 900;
}
/* nav bar */

.navBar{
        position: fixed;
        top: 0;
        right: 0;
        display: right;
        width: 100vw;
        padding: 1% 3%;
        justify-content: space-between;
        align-items: center; 
}
    
.navLinks {
        flex: 1;
        text-align: right;
}
    
.navLinks li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
}
    
.navLinks a {
        color: white;
        text-decoration: none;
        font-size: 15px;
}
    
.navLinks li::after {
        content: '';
        width: 0%;
        height: 2px;
        background-color: white;
        display: block;
        margin: auto;
        transition: 0.5s;
}
    
.navLinks li:hover::after {
        width: 100%;
}

/* when scrolling */
.showNav {
        background-color: paleturquoise;
        z-index: 500;
        transition: background-color 1s ease 0s;
}

/* header */
.title {
        width: 50%;
        position: absolute;
        top: 25%;
        left: 25%;
        color: white;
        text-align: center;
}


.title h1 {
        font-size: 120px;  
}

.header {
        position: relative;
}

#headVid video {
     width: 100%;
}

@media(max-width: 990px) {
        .title h1 {
                font-size: 100px;  
        }
        .logo {
                width: 9%;
        }
}

@media(max-width: 820px) {
        .title {
                width: 100%;
                top: 10%;
                left: 0%;
        }
        .title h1 {
                font-size: 90px;  
        }
}

@media(max-width: 500px) {
        .title h1 {
                font-size: 85px;  
        }
        .title p {
                font-size: 15px;  
        }
}


/* beach */
.resort {
        height: 530px;
        background-color: white;
        position: relative;
}

.resort_title {
        text-align: center;
        position: absolute;
        right: 0;
        padding: 5%;
        top: 4px;
}

.resort_title h2 {
        font-size: 50px;
}

.resort_title p {
        font-size: 20px;
}

@media(max-width: 400px) {
        .logo {
                display: none;
        }

        .resort_title h2 {
                text-align: center;
                width: 100%;
                font-size: 50px;
                padding: 0;
        }
        
        .resort_title p {
                font-size: 20px;
        }
        
        .title {
                top: 48px;
        }
        .title h1 {
                font-size: 65px;  
        }

        .navBar {
                width: 100%;
                padding: 0;
        }
        .navLinks {
                text-align: center;
                padding: 0;
        }

        .navBar li {
                padding-right: 10px;
                font-size: 24px;

        }
        .navBar li a {
                font-size: 14px;
        }

        .title p {
                width: 70%;
                margin: auto;
        }
        .footLinks {
                margin: auto;
                width: 80%;
        }
}

.resort_container {
        position: absolute;
        width: 100%;
        z-index: 100;
        top: 90%;
}

.resortImg {
        width: 55%;
        position: absolute;
        left: 5%;
        border-radius: 25px;
}

.resort2Img {
        width: 40%;
        position: absolute;
        top: 15rem;
        left: 25%;
        border-radius: 25px;
}

@media(max-width: 1220px) {
        .logo {
                width: 9%;
        }
        .resort_title {
                top: 0%;
                text-align: center;
                position: relative;
                right: 0;
        }
        .resort {
                height: 200px;

        }
        .resort_container {
                position: relative;
                text-align: center;
                top: 0;
                padding: 0;
        }
        .resortImg {
                position: relative;
                margin-bottom: 30px;
                width: 80%;
                left: 0;
        }

        .resort2Img {
                position: relative;
                top: 0;
                width: 80%;
                left: 0;
                margin-bottom: 30px;
        }

        .foodImgs td {
                width: 60%;
                margin: auto;
                display: block;
        }
}

@media(max-width: 600px) {
        .foodImgs td {
                width: 80%;
        }
        .logo {
                border-radius: 20px;
                width: 10%;
                margin-top: 10px;
                margin-left: 15px;
        }
}

/* Slide */

.slide_T {
        width: 40%;
        margin: auto;
        padding: 40px;
}

.slideTitle {
        text-align: center;
        font-size: 50px;

}

.slideP {
        text-align: center;
        font-size: 20px;
        margin: auto;
        width: 90%;
}


@media(max-width: 800px) {
        .slide_T {
                width: 80%;
        }
        
        .slideP {
                width: 70%;
        }
}

.foodImgs {
        width: 90%;
        margin: auto;
        text-align: center;
}

.slide0, .slide1, .slide2 {
        width: 100%;
        border-radius: 25px;

}

td {
        width: 30%;
        padding: 10px;
}

.bookBtn {
        text-align: center;
        padding-bottom: 40px;

}

.bookBtn input{
        border-radius: 25px;
        font-size: 18px;
        width: 300px;
        height: 50px;
        margin: 10px;
        padding: 10px;
        border: none;
        position: relative;
        cursor: pointer;
        color: white;
        background-color: rgb(12, 212, 212); 
}

.bookBtn input:hover {
        background-color: rgb(80, 237, 237); 
        transition: 0.5s;
}

.slide {
        background-color: white;
        height: 700px;
}

#arrow_l{
        position: absolute;
        left: 4%;
        font-size: 3rem;
        cursor: pointer;
        padding-top: 200px;
}

#arrow_r {
        position: absolute;
        right: 4%;
        font-size: 3rem;
        cursor: pointer;
        padding-top: 200px;
}

@media(max-width: 1220px) {
        #arrow_l{
                display: none;
        }
        
        #arrow_r {
                display: none;
        }
}

#arrow_r:hover , #arrow_l:hover {
        color: rgba(0, 0, 0, 0.533);
}


/* footer */
.footer {
        text-align: center;
        background-color:rgba(44, 42, 42, 0.953);  

        position: relative;
}

.footLinks {
        height: 100px;
        padding-top: 30px;
        z-index: 1000;
        position: relative;
        bottom: 0;
}

.footLinks li {
        display: inline;
        padding: 10px;
}

.footLinks li a{
        text-decoration: none;
        color: white;
}


.footLinks li:hover {
        width: 100%;
}
/* divider */

#header {
        max-width: 100%;
        /* top: 10px;
        position: relative; */
    }
     
#header img {
        height: 85vh;
        width: 100%;
        /* margin: none;
        padding: none; */
    }
#cheader img {
        height: 85vh;
        width: 100%;
    }

#taglineText {
        position: absolute;
        top: 75%;
        left: 70%;
        color: #FFFFFF;
        transform: translate(-30%, -30%);
        text-align: center;
    }
#ctaglineText {
        position: absolute;
        top: 75%;
        left: 70%;
        color: #FFFFFF;
        transform: translate(-30%, -30%);
        text-align: center;
    }

/* divider */

#header {
        max-width: 100%;
        /* top: 10px;
        position: relative; */
    }
     
#header img {
        height: 85vh;
        width: 100%;
        /* margin: none;
        padding: none; */
    }

#taglineText {
        position: absolute;
        top: 75%;
        left: 70%;
        font-family: 'Heebo';
        color: #FFFFFF;
        transform: translate(-30%, -30%);
        text-align: center;
    }

    #fulls {
        border-radius: 25px;
        background-image: url("fulls.jpg");
        background-size: cover;
        height: 75vh;
        width: 30%;
        max-width: 100%;
        margin-left: 10px;
}

#fulls:hover {
        transform: scale(1.05);
}

#king {
        border-radius: 25px;
        background-image: url("king.jpg");
        background-size: cover;
        height: 75vh;
        width: 30%;
        max-width: 100%;
}

#king:hover {
        transform: scale(1.05);
}

#family {
        background-image: url("family.jpg");
        background-size: cover;
        height: 75vh;
        width: 30%;
        max-width: 100%;
        border-radius: 25px;
        margin-right: 10px;
}

#family:hover {
        transform: scale(1.05);
}
.rooms {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
}

#fulld {
        border-radius: 25px;
        margin-right: 100px;
        margin-left: 100px
}

#kingd {
        border-radius: 25px;
        margin-right: 80px;
        margin-left: 100px;
}

#familyd {
        border-radius: 25px;
        margin-right: 60px;
        margin-left: 100px;
}

.roomdescription {
        max-width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
}

.bookButton {
        display: flex;
        justify-content: center;
        margin: 25px;
}

.reviewContainer {
        display: flex;
        flex-direction: row;
        max-width: 100%;
        /* background-color: #EEEDE7; */
}
.images {
        width: 50%;
        max-width: 100%;
        padding-bottom: 2vh;
        border-radius: 25px;
}
