* {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    border-radius: 25px;
    width: 6%;
    margin-top: 20px;
    margin-left: 30px;
}

/* nav bar */

.navBar{
    position: fixed;
    top: 0;
    right: 0;
    display: right;
    width: 100vw;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center; 
}

.navLinks {
    flex: 1;
    text-align: right;
}

.navLinks li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navLinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navLinks li:hover::after {
    width: 100%;
}

/* when scrolling */
.showNav {
    background-color: paleturquoise;
    z-index: 500;
    transition: background-color 1s ease 0s;
}

.ctaglineText {
    position: absolute;
    top: 75%;
    left: 70%;
    font-family: 'Heebo';
    color: #FFFFFF;
    transform: translate(-30%, -30%);
    text-align: center;
}

#cheader img {
    height: 85vh;
    width: 100%;
}

#sendusheader {
    text-align: center;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-item {
    margin-top: 1em;
    margin-bottom: 1em;
}
