* {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    border-radius: 25px;
    width: 6%;
    margin-top: 20px;
    margin-left: 30px;
}

/* nav bar */

.navBar{
    position: fixed;
    top: 0;
    right: 0;
    display: right;
    width: 100vw;
    padding: 1% 3%;
    justify-content: space-between;
    align-items: center; 
}

/* Change the background color on mouse-over */
nav a:hover {
    color: rgba(0,0,0,0.5);
  }

nav a.currentPage {
    background-color: dodgerblue;
    color: #FFFFFF;
}

.navLinks {
    flex: 1;
    text-align: right;
}

.navLinks li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.navLinks a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navLinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navLinks li:hover::after {
    width: 100%;
}

/* when scrolling */
.showNav {
    background-color: paleturquoise;
    z-index: 500;
    transition: background-color 1s ease 0s;
}

.title {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    text-align: center;
}

#ctaglineText {
    position: absolute;
    top: 75%;
    left: 70%;
    font-family: 'Heebo';
    color: #FFFFFF;
    transform: translate(-30%, -30%);
    text-align: center;
}

.cheader img {
    height: 120vh;
    width: 100%;
}

.sendusheader {
    margin-top: 2cm;
    text-decoration: underline #d9cb9d;
    text-decoration-thickness: 0.08em;
    font-size: 30px;
    text-align: center;
}

.beforeform {
    font-size: 25px;
    text-align: center;
    margin-top: 1cm;
}

.container {
    width: 100%;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 1cm;
    margin-right: auto;
    margin-left: auto;
}

.form-submission {
    background-color:#d9cb9d;
    border-top: 5px solid #9b8000;
    padding: 35px;
    border-radius: 30px;
    margin: 1cm auto 4cm;
    height: 18cm;
    width: 700px;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    animation: bounce 1.5s infinite;
}

.form-item {
    text-align: center;
    padding: 10px;
    transition: all 0.5s ease 0s;
}

 .form-item textarea {
    font-family: Arial;
}

.form-item input, .form-item select, .form-item textarea{
    height: 3em;
    border-radius:10px;
    border-color: #a9a9a9;
    width: 380px;
    font-size:20px;
    color: #a9a9a9;
}


.form-item input:hover, .form-item select:hover, .form-item textarea:hover{
    height: 4em;
    width: 380px;
    border-bottom: 5px solid #AFEEEE;
    transition: ease 0.5s;
}

#submit {
    background-color: #AFEEEE;
    border-radius:10px;
    border-color: #a9a9a9;
    width: 200px;
    height: 80px;
    margin-top: .5cm;
}

#submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    border-radius:10px;
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #0e3750;
    border-radius: 0%;
  }

#termsConditions{
    margin: 0 auto 5px 80px;
  }

.mapCon{
    text-align: center;
}

.mapTitle h1 {
    font-size: 50px;
    text-decoration: underline #d9cb9d;
    text-decoration-thickness: 0.08em;
    margin-bottom: 1cm;
}

.mapTitle p {
    font-size: 15px;
    margin-bottom: 1cm;
}

.social{
    text-align: center;
}
.icons {
    margin: 0 25px;
    margin-bottom: 1cm;
}

@keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
  } 

  .footer {
    text-align: center;
    background-color:rgba(44, 42, 42, 0.953);  

    position: relative;
}

.footLinks {
    height: 100px;
    padding-top: 30px;
    z-index: 1000;
    position: relative;
    bottom: 0;
}

.footLinks li {
    display: inline;
    padding: 10px;
}

.footLinks li a{
    text-decoration: none;
    color: white;
}


.footLinks li:hover {
    width: 100%;
}
