.intro {
    text-align: center;
}

body {
    font: Arial;
}

.intro h1 {
    font-size: 80px;
}

.intro p {
    margin-top: 1cm;
    font-size: 24px;
}

.title {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    text-align: center;
}

.cheader img {
    height: 120vh;
    width: 100%;
}

.mus {
    display:inline-block;
}

.mus h1{
    font-size: 56px;
}

.mus img{
    width: 600px;
    height: 400px;
    padding-right: 25px;
    float: left;
}

.mus p{
    margin-top: 4cm;
    margin-left:4cm;
    margin-bottom: 2cm;
    text-align: left;
    font-size: 20px;
}

.oneact {
    width: 200px;
    margin-top: 1cm;
    padding-left: 50px;
}

.oneact img{
    width: 600px;
    height: 400px;
}

.twoact img{
    width: 600px;
    height: 400px;
}

.threeact img{
    width: 600px;
    height: 400px;
}
