.intro {
    text-align: center;
}

body {
    font: Arial;
}

.intro h1 {
    font-size: 80px;
}

.intro p {
    font-size: 20px;
}

.title {
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    color: white;
    text-align: center;
}

.cheader img {
    height: 120vh;
    width: 100%;
}

.mus {
    text-align: left;
    float: left;
}

.mus h1{
    font-size: 56px;
}

.mus img{
    width: 100%;
    height: auto;
}

.mus p{
    text-align: left;
}

.oneact {
    float: left;
    width: 200px;
    margin-left: 1cm;
    padding-left: 50px;
}
