@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
body {
        margin: 0;
}
nav {
        overflow: hidden;
        
                background:transparent;
            
        /* background-color: #f1f1f1; */
        padding: 20px 10px;
      }
      
      /* Style the header links */
      nav a {
        float: left;
        color: black;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-family: 'Heebo';
        font-size: 18px;
        line-height: 25px;
        border-radius: 4px;
      }
      
      /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
      .logo {
        max-width: 10%;
        width: 2vw;
        height: 1vh;
      }
      
      /* Change the background color on mouse-over */
      nav a:hover {
        color: rgba(0,0,0,0.5);
      }
      
      /* Style the active/current link*/
      nav a.currentPage {
        background-color: dodgerblue;
        color: #FFFFFF;
      }
      
      /* Float the link section to the right */
      .navBarRight {
        float: right;
      }
